
target/
!roomBooking/target/roomBooking-rest-0.0.1-SNAPSHOT.jar

lib/*.jar
!roomBooking/lib/hotelBooking-api.jar
!roomBooking/lib/events-roomBooking-contract.jar
!notification-service/lib/events-roomBooking-contract.jar
!audit-booking-service/lib/events-roomBooking-contract.jar

.idea/
*.iml
*.iws
*.ipr
.vscode/
out/


.DS_Store
Thumbs.db


*.log
jenkins-data/

*.zip
*.tar
*.tar.gz


